ion-content {
    --background: #9e9e9e0d;
}
.myinp {
    --background: #fafafa;
}
.error-message {
    margin-top: 5%;
    font-size: 14px;
    color: gray;
}
.item-native {
    padding: 0 !important;
}
.col-flag {
    height: 32px;
    width: 46px;
    display: flex;
    margin: auto;
    border-right: 1px solid #c7c2c2;
}
.col-flag span {
    left: 0;
    right: 0;
    margin: auto;
}