<ion-content class="ion-padding" style="position: relative;">
    <ion-grid >
      <ion-row style="margin-top: 15%;">
        <ion-col size="12">
          <p style="text-align: center;color: gray">
            Untel souhaite participer à ton paris xxxxxx
          </p>
        </ion-col>
          <ion-col size="6" style="text-align: right;">
            <ion-button color="primary" shape="round">Accepter</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger" shape="round">Rejeter</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<div style="overflow-y: auto;height: 50%;">
  <router-outlet></router-outlet>
</div>

