ion-content {
    background: rgb(223, 223, 223);
}
.label-fixed.sc-ion-label-md-h {
    width: 67px !important;
    min-width: 0px !important;
    flex: 0 0 22%;
}
.item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h {
    pointer-events: all;
}