<ion-content class="content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="paris?.length <= 0" class="empty">
    <p> Tu ne participe à aucun paris pour le moment. </p>
</div>
<ion-grid style="margin-top: 5%;" *ngFor="let pari of paris">
  <ion-row>
      <ion-col size="12" class="col-name">
         <h2> {{pari.titre }} </h2>
      </ion-col>
      <ion-col size="12" class="pari-item">
        <ion-row>
          <ion-col style="margin: 0;padding: 0" size="2">
            <ion-avatar>
              <img style="width:50%;height: 50%" src={{pari.photo}}>
            </ion-avatar>
          </ion-col>
          <ion-col size="3" class="col-item">
                   <div style="font-size: 14px;height: 0">Début</div>
                   <p style="font-size: 13px;"><strong> {{dateParse(debut)}} </strong></p>
            </ion-col>
            <ion-col size="3" class="col-item">
              <div style="font-size: 14px;
              height: 0;">Gagnant</div>
              <span><strong> {{pari.prix}} fr</strong></span>
            </ion-col>
            <ion-col size="4">
    <ion-button style="padding: 4px" [routerLink]="['/parisdetail/',pari.id_p, {outlets: { outlet2: ['description']} }]"  [queryParams]="{id: pari.id_p, url: 'accueil/accueil/vosparis'}" routerLinkActive="router-link-active" >parier</ion-button>
            </ion-col> 
        </ion-row>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
