<ion-content>
  <div *ngIf="pari.participants?.length <= 0" class="empty" style="margin-top: 5%;">
    <p> personne n'a encore parié </p>
</div>
  <ion-grid style="padding-left: 0;
  padding-right: 0;">
      <ion-row *ngFor="let part of pari.participants" style="border-bottom: 0.1px solid #808080c2;">
          <ion-col size="12" class="col-op" style="display: flex;position: relative">
              <img style="width: 30px;height: 30px;border-radius: 50%;" src={{part.photo}}>
              <div style="padding-left: 2%;width: 100%;">
                <div style="margin-bottom: 2%;"><span style="color: #2196F3;">
                  {{part.nom}} </span> - <span style="font-size: 13px;width: 100%;"> {{timer(part.dates)}} </span>
                  <ion-badge color="light" slot="end" *ngIf="badge" style="position: absolute;right: 4px">Vous <i class="fas fa-circle" style="color: #22ff22"></i></ion-badge>
                </div>
                <div *ngIf="part.statu == '0'" style="display: flex;">
                  <ion-icon name="timer" style="font-size: 16px;color: gray;"></ion-icon>
                  <span style="color: gray;font-size: 13px">En attente d'approbation</span>
                </div>
                <p *ngIf="part.statu == '1'" style="margin: 0;width: 100%;font-size: 12px;" [innerHtml]="part.opinion">
                </p>
              </div>
          </ion-col>
         
      </ion-row>
  </ion-grid>
</ion-content>
