<ion-content class="cnt" style="position: relative">
  <ion-grid style="margin-top: 12%;" class="mydiv" *ngIf="chating?.length >= 1">
        <ion-item *ngFor="let chat of chating" lines="none">
        <ion-avatar [slot]="slot(chat.id)">
          <img src={{chat.photo}}>
        </ion-avatar>
        <ion-label [ngStyle]="{'text-align': align(chat.id)}">
          <h2>{{chat.nom}}</h2>
          <p>{{chat.messages}}</p>
        </ion-label>
      </ion-item> 
  </ion-grid>
</ion-content>  
<form [formGroup]="form" class="myform">
  <div class="col-btn">
    <ion-input placeholder="Dites quelque chose à {{profil.nom}}..." formControlName="message"></ion-input>
      <ion-fab-button slot="end" [disabled]="!form.valid" (click)="send(form)">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
  </div>
</form>
  

