*{
    font-family: 'ubuntu';
}
.mybackgs ion-toolbar {
    height: 160px !important;
}
.active-item {
    --color: var(--ion-color-primary);
}
.mybackgs {
    --border-color: none;
    position: relative;
}
.col-perso-detail {
    text-align: center;
    display: grid;
    color: #fff
}
.col-perso-detail h3 {
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    color: #000;
}
.col-info-paris {
    bottom: -33%;
    left: 0;
    z-index: 200;
    right: 0;
    height: 73px;
    background: #fff;
}
.col-info-paris font {
    font-size: 11px;
}
.col-info-paris span {
    font-size: 18px;
}
.col-info-paris ion-col {
    text-align: center;
}
.activates {
    color: #1449c5;
}
.col-info-paris ion-col {
    cursor: pointer;
}
.item-paris ion-col {
    text-align: center;
}
.col-swip {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #3880ff;
    transition: all .3s
}
.item-paris {
    position: relative
}
.item-paris ion-col {
    cursor: pointer
}
.col-desc {
    padding: 28px;
    font-size: 14px;
    padding-left: 17px;
    color: gray;
}
.mestabs {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }
//   @media only screen and (min-width: 1200px) {
//     html {
//       font-size: 15px;
//     }
//   }
 .tab-info {
    background: #edfafb;
    text-align: center;
    color: gray;
 }