<ion-header style="background: #ebebeb;">
  <ion-toolbar class="mybackgs">
    <ion-icon name="arrow-round-back" slot="start" style="font-size: 22px;
    margin: 10px;color: #2196F3;margin-bottom: 50%;position: absolute;
    top: 0;" (click)="goback()" routerLinkActive="router-link-active" ></ion-icon>
    
     <div style="margin-top: 25%">
        <ion-avatar style="margin: auto;height: 100%;width: 100%;text-align: center;">
          <img src={{pari.photo}} style="width: 100px;height: 100px;">
        </ion-avatar>
        <div class="col-perso-detail">
            <h3>{{pari.auteur}}</h3>
            <span style="font-size: 10px;color: #000">
              Libreville
            </span>
        </div>
     </div>
     <div style="text-align: center;">
       <ion-button shape="round" [disabled]="parier() || canMacth" (click)="parigo()">Parier avec {{pari.auteur}}</ion-button>
     </div>
  </ion-toolbar>
</ion-header>
<div class="col-info-paris">
      <ion-grid>
        <ion-row>
            <ion-col size="3" style="display: grid;" class="activates" [routerLink]="[{outlets: { myoutlet: ['mesparis'] } }]" routerLinkActive="router-link-active">
                <font>Gagnant</font>
                <span> {{pari.prix}} </span>
            </ion-col>
            <ion-col size="3" style="display: grid;">
              <font> Participation </font>
              <span>  {{pari.participation}} </span>
            </ion-col>
            <ion-col size="3" style="display: grid;">
              <font> date de début </font>
              <span> {{parseDate(pari.debut)}} </span>
            </ion-col>
            <ion-col size="3" style="display: grid;">
              <font>  date de fin </font>
              <span> {{parseDate(pari.date2)}} </span>
            </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div  style="border-bottom: #8080802e 1px solid">
    <ion-grid style="padding: 0">
        <ion-row class="item-paris">
            <ion-col size="4" class="item-active" id="0"  (click)="godesc()">
                Description
            </ion-col>
            <ion-col size="4" id="1" (click)="gopart()">
                Participants
            </ion-col>
            <ion-col size="4" id="2" (click)="goinv()">
                Invitations
            </ion-col>
            <span class="col-swip"></span>
        </ion-row>
    </ion-grid>
  </div>
  <ion-content class="">
    <router-outlet name="outlet2"></router-outlet>
</ion-content>
  
  
