
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="compte">
        <ion-icon name="md-person"></ion-icon>
        <ion-label>Mon compte</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Message</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
        <ion-tab-button tab="premium">
          <ion-icon name="appstore"></ion-icon>
          <ion-label>Premium</ion-label>
        </ion-tab-button>
      <ion-tab-button >
        <ion-icon name="cog"></ion-icon>
        <ion-label>Parametre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>