
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="compte">
        <ion-icon name="md-person"></ion-icon>
        <ion-label>Mon compte</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goTonotif()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Message</ion-label>
        <ion-badge *ngIf="notification?.length >= 1">{{notification?.length}}</ion-badge>
      </ion-tab-button>
        <ion-tab-button tab="premium">
          <i class="fas fa-medal" style="font-size: 20px;padding: 2px"></i>
          <ion-label>badge</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="parametre">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Parametre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>