
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="nouveau" id="homes">
        <i class="fas fa-users" style="font-size: 21px;"></i>
        <ion-label>Nouveau</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ancien">
        <i class="fas fa-user-clock" style="font-size: 21px;"></i>
        <ion-label>Anciens</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="professionnels">
        <i class="fas fa-medal" style="font-size: 21px;"></i>
        <ion-label>Professionnels</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>