<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 18px">Règles et conditions d'utilisation de Cash app</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-slides pager="true" [options]="slideOpts" cancelable="true">
      <ion-slide>
        <div style="display: grid;">
          <div style="border-bottom: 1px solid #80808014;">
            <p class="text">
              Avant d'utiliser entièrement les services de Cashapp, lisez nos conditions d'utilisations. Balayez votre ecran de droite vers la gauche pour voir defiler les règles.
            </p>
          </div>
          <div style="padding-top: 25%;padding-bottom: 25%;">
            <img src="../assets/images/logo-cash.PNG" width="50px" height="50px" style="margin: auto;height: 170px;max-height: max-content;">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="display: grid;">
          <div style="border-bottom: 1px solid #80808014;">
            <p class="text">
              Règle N°1: Si vous crée un pari à des fins abusives (exemple: du contenu très douteux), votre compte sera definitivement supprimé de l'application, sans possiblilité de vous réinscrire sur Cash app.
            </p>
          </div>
          <div style="padding-top: 25%;padding-bottom: 25%;">
                <img src="../assets/images/plan.png" width="50px" height="50px" style="margin: auto;height: 170px;max-height: max-content;">
            </div> 
        </div>
      </ion-slide>
      <ion-slide>
        <div style="display: grid;">
          <div style="border-bottom: 1px solid #80808014;">
            <p class="text">
              Règle N°2: Ne pariez pas une somme surelevée, dont vous n'êtes pas sûre de payez en cas de perte du pari.
            </p>
          </div>
            <div style="padding-top: 25%;padding-bottom: 25%;">
                <img src="../assets/images/hand3.png" width="50px" height="50px" style="margin: auto;height: 170px;max-height: max-content;">
            </div> 
        </div>
      </ion-slide>
      <ion-slide>
        <div style="display: grid;">
            <div style="border-bottom: 1px solid #80808014;">
                <p class="text">
                  Règle N°3: Si vous êtes signalez 2 fois, votre compte sera supprimé automatiquement
                </p>
              </div>
                <div style="padding-top: 25%;padding-bottom: 25%;">
                    <img src="../assets/images/persons.png" width="50px" height="50px" style="margin: auto;height: 170px;max-height: max-content;">
               </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="display: grid;">
          <div style="border-bottom: 1px solid #80808014;">
            <p class="text">
              Règle N°4: Bon divertissement sur Cash app :)
            </p>
          </div>
            <div style="padding-top: 25%;padding-bottom: 12%;">
                <div style="padding: 8%;">
                  <img src="../assets/images/phone-.png" width="50px" height="50px" style="margin: auto;height: 170px;max-height: max-content;">
                </div>
            </div>
            <div style="text-align: center;">
              <ion-button shape="round" (click)="gobacnk()">Revenir au menu principal</ion-button>
            </div> 
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>