<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 18px">Règles et conditions d'utilisation de Cash app</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div id="pagepilings">
      <div class="section" style="display: grid;">
        <div style="border-bottom: 1px solid #80808014;">
          <p class="text">
            Avant d'utiliser entièrement les services de Cashapp, lisez nos conditions d'utilisations. Balayez votre ecran de droite vers la gauche pour voir defiler les règles.
          </p>
        </div>
        <div style="display: flex;">
          <img src="../assets/images/logo-cash.PNG" width="50px" height="50px" style="margin: auto;width: 167px;height: 150px;margin-top: 17%;">
        </div>
        <img src="../assets/images/hand.png" class="main">
      </div>
      <div class="section" style="display: grid;background: gray">
        <div style="border-bottom: 1px solid #80808014;">
          <p class="text">
            Règle N°1: Si vous crée un pari à des fins abusives (exemple: du contenu très douteux), votre compte sera definitivement supprimé de l'application, sans possiblilité de vous réinscrire sur Cash app.
          </p>
        </div>
          <div style="display: flex;">
              <img src="../assets/images/plan.png" style="margin: auto;width: 275px;
              height: 60%;padding: 7px">
          </div>
      </div>
      <div class="section" style="display: grid;">
        <div style="border-bottom: 1px solid #80808014;">
          <p class="text">
            Règle N°2: Ne pariez pas une somme surelevée, dont vous n'êtes pas sûre de payez en cas de perte du pari.
          </p>
        </div>
          <div style="display: flex;height: 60%">
              <img src="../assets/images/hand3.png" style="margin: auto;width: 139px;
              height: 170px;">
          </div>
      </div>
      <div class="section" style="display: grid;">
        <div style="border-bottom: 1px solid #80808014;">
          <p class="text">
            Règle N°3: Avant d'accepter un participant à votre parie, nous vous conseillons d'avoir tous les renseignements de celui-ci (numéro de tél, adresse)
          </p>
        </div>
          <div style="display: flex;height: 60%">
              <img src="../assets/images/persons.png" style="margin: auto;    width: 300px;
    height: 236px;">
          </div>
      </div>
    </div>
  </ion-content>