.col-parent {
    display: flex;
    height: 50%
}
.col-parent ion-button {
    --ion-color-base:  linear-gradient(45deg, #3880ff 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #3880ff 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #3880ff 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #3880ff 100%, rgba(9, 245, 5, 0) 70%) !important !important;
}