<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <p class="text-add"> Votre numéro de téléphone est </p>
                <ion-button style="font-size: 10px;width: 95%">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Ajouter un numéro de téléphone
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none" *ngFor="let p of pari">
      <ion-label>
        <div>
          <h2 style="float: left;margin: 0;font-family: Oswald;color: gray"> {{p.titre}} </h2>
          <ion-button class="btn" color="trans" style="float: right;margin: 0;border: 1px solid;color: 000" [routerLink]="['/editer']" [queryParams]="{id: p.id_p}" routerLinkActive="router-link-active" >Editer</ion-button>
        </div>
        <p style="clear: both;padding-top: 3%;">
          {{p.descriptions}}
        </p>
      </ion-label>
    </ion-item>
</ion-content>
