ion-content {
    --background: #9e9e9e0a;
}

.myinput {
    --background: #f2f2f2 !important;
}
ion-input {
    --color:hsl(0, 33%, 2%) !important;
}
.cus {
    --background: #fbfbfb !important;
}
.alert-message2 {
    font-size: 10px !important;
}