<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="goback()" slot="start" style="font-size: 22px;
    margin: 10px;color: rgb(18, 15, 219)" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ></ion-icon>
    <ion-title style="text-align: center;margin-right: 12%;">Creer un paris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="pagepiling">
    <form [formGroup]="formPari">
      <div class="section">
        <ion-item class="myinput">
          <ion-label position="floating">Le nom du paris*</ion-label>
          <ion-input [(ngModel)]="titre" formControlName="titre" autofocus="true" type="text" maxlength="12" minlength="4" name="titre" required="true" #myInput></ion-input>
        </ion-item>
        <div style="text-align: center;padding: 30%;">
          <ion-button shape="round" (click)="next1()">
            suivant
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="section">
        <ion-item class="myinput">
          <ion-label position="floating">Determiner la date de début du paris*</ion-label>
          <ion-datetime [dayShortNames]="customDayShortNames" displayFormat="DDDD DD-MMM-YYYY à H:mm"  placeholder="Choissisez la date et l'heure" dayShortNames="Lun, Mar, Merc, Jeu, Ven, Sa, Dim" dayNames="Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi, Dimanche" doneText="Ok" cancelText="Retour" formControlName="date1" [(ngModel)]="date1" monthNames="Janvier, Fevrier, Mars, Avril, Mai, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre" [min]="dates"></ion-datetime>
        </ion-item>
          <div style="text-align: center;padding: 30%;">
            <ion-button shape="round" (click)="next2()">
              suivant
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
      </div>
      <div class="section">
        <ion-item class="myinput">
          <ion-label position="floating">Determiner la date de fin du paris*</ion-label>
          <ion-datetime [dayShortNames]="customDayShortNames" displayFormat="DDDD DD-MMM-YYYY à H:mm"  placeholder="Choissisez la date et l'heure de fin" dayShortNames="Lun, Mar, Merc, Jeu, Ven, Sa, Dim" dayNames="Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi, Dimanche" doneText="Ok" cancelText="Retour" formControlName="date2" [(ngModel)]="date2" monthNames="Janvier, Fevrier, Mars, Avril, Mai, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre" [min]="minFin"></ion-datetime>
        </ion-item>
          <div style="text-align: center;padding: 30%;">
            <ion-button shape="round" (click)="next3()">
              suivant
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>

      </div>
      <div class="section">
            <ion-row>
                <ion-col size="8">
                  <ion-item class="myinput">
                    <ion-label position="floating">Prix du gagnant*</ion-label>
                    <ion-input [(ngModel)]="prix" formControlName="prix" type="number" maxlength="12" minlength="4" name="titre" required="true"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4" style="margin-top: 2%;display: flex">
                    <span style="    text-align: left;
                    margin: auto;
                    float: left;">Fcfa</span>
                </ion-col>
            </ion-row>
         
          <div style="text-align: center;padding: 30%;">
            <ion-button shape="round" (click)="next4()">
              suivant
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
      </div>
      <div class="section">
        <ion-item class="myinput">
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="description" formControlName="prix" placeholder="en quoi consiste votre pari ?" required="true"></ion-textarea>
        </ion-item>
        <div style="text-align: center;padding: 30%;">
          <ion-button shape="round" (click)="next5()">
            Terminer
          </ion-button>
        </div>
      </div>
  </form>
	</div>
</ion-content>
