<ion-content class="content">
    <ion-grid style="margin-top: 32px;">
        <ion-row>
            <ion-col size="12" class="col-name">
               <h2>John Doe</h2>
            </ion-col>
            <ion-col size="12" class="pari-item"  style="height: auto;border-left: 3px solid #378bf2;">
              <ion-row>
                <ion-col style="margin: 0;padding: 0" size="2">
                  <ion-avatar>
                    <img style="width:50%;height: 50%" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-col>
                <ion-col size="10">
                    <ion-row>
                            <ion-col size="3" class="col-item">
                                            <div style="font-size: 14px">Pari</div>
                                            <span><strong>Mon Pari</strong></span>
                            </ion-col>
                                    <ion-col size="3" class="col-item">
                                    <div style="font-size: 14px;">Prix</div>
                                    <span><strong>10000fr</strong></span>
                                    </ion-col>
                                    <ion-col size="3" class="col-item">
                                    <div style="font-size: 14px;">Debut</div>
                                    <span><strong>01.01.20</strong></span>
                                    </ion-col>
                                    <ion-col size="3" class="col-item">
                                    <div style="font-size: 14px;">Fin</div>
                                    <span><strong>05.03.20</strong></span>
                                    </ion-col>
                    </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                    <ion-button style="padding: 4px;float: right">Consulter</ion-button>
                  </ion-col>
              </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>