.mybackg {
    --background: linear-gradient(45deg, #39a2f5 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #2462e2 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0a41b9 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #464bf9 100%, rgba(9, 245, 5, 0) 70%);
    border-radius: 0 0 10px 10px;
    --border-color: none
}
.content {
    --background:rgba(128, 128, 128, 0.16);
}
.plus {
    color: blue;
    margin-right: 10px;
    float: right;
    margin: 10px;
}
.plus i {
    margin: auto;
}
.mybackg h1 {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
    margin-top: 0;
    float: left;
}
ion-icon {
    font-size: 130px;
}
ion-toolbar {
    height: 110px !important;
}
.hdr {
    background: rgba(128, 128, 128, 0.16);
}
.header-md:after {
    display: none !important
}
.btn2 {
    --background:#2b62e200;
    --box-shadow: none
}
.col-name h2 {
    margin: 0;
    color: gray;
    font-size: 15px;
}
.col-item {
    font-family: 'ubuntu' !important;
}