<ion-header class="contain">
  <ion-toolbar>
    <ion-icon name="arrow-round-back" slot="start" style="font-size: 22px;
    margin: 10px;color: #2196F3;top: 0;" [routerLink]="['/mypage', 'profil']" routerLinkActive="router-link-active"   routerLinkActive="router-link-active" ></ion-icon>
    <ion-title style="font-size: 95%">A propos de Cash app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
              <h4>C'est quoi Cash app</h4>
              <p style="text-align: justify">
                Cash app 0.0.1 Beta est un reseau social servant à la communauté de lancer des paris amateurs. Chacun est libre de fixer le montant qu'il souhaite pour le gagnant ainsi que le prix de la participation à son paris. <br>
                Cash app se desengage de tout litige en le cas de non payement en cas de perte d'un paris. Nous vous conseillons de signaler un utilisateur frauduleux afin qu'il soit banis de la communauté.
              </p>
                <h4>Badge</h4>
                <p>
                  un badge est ce qui permet de vous distinguer des parieurs amateurs. Le badge classic <i>N o v i c e</i> est destiné à tout les membres normaux. Les autres badges sont reservés aux entreprises ou aux professionnels. Vous pouvez aussi commander un badge.
                </p>
                <h4>Membres Premium</h4>
                <p>
                  Les fonctionnalités avancés d'un pari sont reservés aux membres premium.
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
