/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.swiper-pagination-bullet {
    background: #5d5959 !important;
}
@font-face {
    font-family:'latoregular';
    src: url('assets/fonts/Lato-Regular.ttf')
}
@font-face {
  font-family:'Oswald';
  src: url('assets/fonts/Oswald-Bold.ttf')
}
@font-face {
    font-family:'ubuntu';
    src: url('assets/fonts/Ubuntu-Light.ttf')
}
// * {
//     font-family: 'ubuntu';
// }
ion-label {
    font-family: 'ubuntu' !important;
}
  
.mybackg {
    --background: linear-gradient(45deg, #39a2f5 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #2462e2 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0a41b9 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #464bf9 100%, rgba(9, 245, 5, 0) 70%);
    border-radius: 0 0 10px 10px;
    --border-color: none
}
.content {
    --background:rgba(218, 218, 218, 0.16);
}
.col-item {
    text-align: center;
    display: grid;
    color: rgba(128, 128, 128, 0.61);
    padding: 0;
    margin: 0;
}
.col-item span:first-of-type {
    font-size: small
}
.col-item span, strong {
    font-family: 'ubuntu';
    font-size: 71% !important;
}
.pari-item {
    background-color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    height: 65px;
}
.plus {
    color: blue;
    margin-right: 10px;
    float: right;
    margin: 10px;
}
.plus i {
    margin: auto;
}
.mybackg h1 {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
    margin-top: 0;
    float: left;
}
.hdr {
    background:rgb(219, 219, 219);
}
.header-md:after {
    display: none !important
}
.btn2 {
    --background:#2b62e200;
    --box-shadow: none
}
.mestabs {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px;
    }
  }
  ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    overflow: hidden;
  }
  
  .tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
  }
  
  .tabs.tabs-transparent {
    background-color: transparent;
  }
  
  .tabs.tabs-transparent .tab a,
  .tabs.tabs-transparent .tab.disabled a,
  .tabs.tabs-transparent .tab.disabled a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: blink;
  }
  
  .tabs.tabs-transparent .tab a:hover,
  .tabs.tabs-transparent .tab a.active {
    color: #fff;
  }
  
  .tabs.tabs-transparent .indicator {
    background-color: #fff;
  }
  
  .tabs.tabs-fixed-width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .tabs.tabs-fixed-width .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  
  .tabs .tab a {
    color: #3880ff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
    text-decoration: blink;
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(178, 205, 246, 0.2);
    outline: none;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #3880ff;
  }
  
  .tabs .tab.disabled a,
  .tabs .tab.disabled a:hover {
    color: #3880ff;
    cursor: default;
  }
  
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #91b8fa;
    will-change: left, right;
  }
  .empty {
    text-align: center;
    margin-top: 50%;
    display: grid;
}
.empty p {
    color: gray;
}
.empty span {
  font-size: 16px;
  color: gray;
}
.my-custom-modal-css .modal-wrapper {
  position: absolute !important;
  top: 75% !important;
  display: block;
  height: 80% !important;
}
.my-custom-modal-opinion .modal-wrapper {
  position: absolute !important;
  top: 45% !important;
  display: block;
  height: 80% !important;
}
ion-fab-button:focus {
  outline: none !important;
}