<ion-header class="hdr">
    <ion-toolbar class="mybackg">
      <h1>Cash App</h1>
      <div class="plus">
        <ion-fab-button [routerLink]="['/creation']" routerLinkActive="router-link-active"  style="font-size: 13px;width: 25px;height: 25px;" color="light" class="ion-color ion-color-light ios ion-activatable ion-focusable hydrated">
          <ion-icon style="color: #1543c5" name="add" role="img" class="ios hydrated" aria-label="add"></ion-icon>
        </ion-fab-button>
      </div>
      <ion-grid style="clear: both;">
        <ion-row>
          <ion-col size="6">
            <ion-button [color]="mycolor()" [ngClass]="{fade: zap}" class="btn1" shape="round" style="font-size: 10px;" activated="true" (click)="clic()">Tous les paris</ion-button>
          </ion-col>
          <ion-col size="6" style="text-align: center"  [ngClass]="{fade: !zap}">
            <ion-button [color]="mycolor2()" (click)="govosparis()" shape="round" class="btn2" style="font-size: 10px;">vos paris</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content">
        <app-tabs></app-tabs>
  </ion-content>
  