<ion-header>
  <ion-toolbar>
    <ion-title>signalement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label style="white-space: inherit;text-align: center">
      <p style="font-size: 79%;">
        Nous avons reçu votre signalement. S'il est averé exacte, nous supprimerons definitivement le compte de {{nom}}
      </p>
    </ion-label>
  </ion-item>
    <div style="display: flex;margin-top: 50%">
        <img src="./assets/images/fly.png" style="width: 70%;">
    </div>
</ion-content>
